@media screen and (min-width: 1500px){
   .services {
    padding-top: 120px;
   }

    .content-col p{
        display: flex; 
        padding-top: 10px;
        line-break: anywhere;
        width: 80%;
    }
    
}

@media screen and (max-width: 1200px) {
    #nav-bar {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }


    .content-col p{
        display: flex; 
        padding-top: 10px;
        padding-bottom: 5px;
        line-break: anywhere;
        width: 100%;
    }


    .services{
        padding-top: 20px;
    }

    .contact_footer {
        margin-top: 10px;
    }

    

}



@media screen and (max-width: 750px) {
    body {
        overflow-x: hidden;
    }

    #nav-bar {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }

    .section__pic-container {
        height: 150px;
    }

    .section__text {
        margin-left: -70px;
        width: 200px;
    }

    .title {
        font-size: 30px;
    }

    .section__text__pl {
        text-align: center;
        margin-left: -180px;
        width: 200px;
        margin-bottom: 50px;
        line-break: anywhere;
    }

    .title_about h1 {
        text-align: center;
    }

    .image-gallery img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-col h1 {
        display: flex;
        text-align: center;
        align-items: center;
    }

    .content-col p{
        display: flex;
        text-align: center;
        width: 300px;
        align-items: center;
    }    

    .services {
        margin-top: 200%;
    }

    .container {
        text-align: center;
        justify-content: center;

    }

    .sub-title {
        text-align: center;
        align-items: center;
        opacity: 0;
    }


    .services-list {
        justify-content: center;
        margin-left: 0px;
    }

    .container .title_second_alow {
        margin-bottom: 20%;
    }

    .title_second_alow {
        text-align: center;
        justify-content: center;
    }

    .title_second {
        text-align: center;
        justify-content: center;
    }

    .btn-container_2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .btn-buttom_over {
        align-items: center;
        justify-content: center;
    }

    .social-media {
        align-items: center;
        justify-content: center;
        margin-top: 10%;
    }

    .social-media h1 {
        font-size: 30px;
    }

    .footer {
        width: 100%;
        height: 100%;
        padding: 0px 30px;
        margin: 0px;
        background: #7e7e7e46;
        text-align: center;
        padding-bottom: 10px;
        margin-top: 10%;
    } 

    .footer p {
        padding-top: 10px;
        
    }

    .contact_footer {
        font-size: 30px;
        margin-top: 10px;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {
  
    .logo {
        font-size: 40px;
    }

    .mobile-icon span{
        width: 150%;
        height: 4px;
    }

    .menu-links a {
        font-size: 40px;
    }
    
    .menu-links i {
        font-size: 40px;
    }

    .section__pic-container {
        height: 300px;
    }

    .section__text {
        margin-left: -30px;
        width: 300px;
    }

    .title {
        font-size: 50px;
    }

    .section__text__pi {
        font-size: 20px;
    }

    .section__text__p2 {
        font-size: 20px;
    }

    .btn-buttom {
        font-size: 20px;
        height: 5rem;
        padding: 1rem;
        width: 20rem;
        border-radius: 4rem;
    }

    #socials-container i {
        font-size: 50px;
    }


    .section__text__pl {
        text-align: center;
        margin-left: -150px;
        width: 200px;
        margin-bottom: 50px;
        font-size: 20px;
        line-break: anywhere;
    }

    .title_about h1 {
        text-align: center;
    }

    .image-gallery img {
        display: flex;  
        flex-wrap: wrap; 
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .content-col h1 {
        display: flex;
        font-size: 32px;
        text-align: center;
        align-items: center;
    }

    .content-col p{
        display: flex;
        text-align: center;
        font-size: 25px;
        width: 700px;
        align-items: center;
    }    

    .services {
        margin-top: 900px;
    }

    .container {
        text-align: center;
        justify-content: center;

    }

    .sub-title {
        font-size: 70px;
        text-align: center;
        align-items: center;
        opacity: 0;
    }


    .services-list {
        justify-content: center;
        margin-left: 0px;
    }

    .services-list h2 {
        font-size: 25px;
    }

    .services-list p {
        font-size: 20px;
    }

    .container .title_second_alow {
        margin-bottom: 20%;
    }

    .title_second_alow {
        text-align: center;
        justify-content: center;
        font-size: 50px;
    }

    .title_second {
        text-align: center;
        justify-content: center;
        font-size: 50px;
    }

    .btn-container_2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .btn-buttom_over {
        align-items: center;
        justify-content: center;
        font-size: 25px;
        padding: 2rem;
        width: 20rem;
        border-radius: 4rem;
    }

    .social-media {
        align-items: center;
        justify-content: center;
    }

    .social-media h1 {
        font-size: 50px;
    }

    .social-media p {
        font-size: 30px;
    }

    .social-media i {
        font-size: 80px;
    }

    .footer {
        width: 100%;
        height: 100%;
        padding: 0px 30px;
        margin: 0px;
        background: #7e7e7e46;
        text-align: center;
        padding-bottom: 10px;
        margin-top: 10%;
    } 

    .footer p {
        padding-top: 10px;
        font-size: 30px;
    }

    .contact_footer {
        font-size: 45px;
        margin-top: 10px;
    }
}



@media (min-width: 1024px) and (max-width: 1366px) {
    .logo {
        font-size: 40px;
    }

    .mobile-icon span{
        width: 150%;
        height: 4px;
    }

    .menu-links a {
        font-size: 40px;
    }
    
    .menu-links i {
        font-size: 40px;
    }

    .section__pic-container {
        height: 400px;
    }

    .section__text {
        margin-left: -40px;
        width: 800px;
    }

    .title {
        font-size: 90px;
    }

    .section__text__pi {
        font-size: 20px;
    }

    .section__text__p2 {
        font-size: 40px;
    }

    .btn-buttom {
        font-size: 25px;
        height: 5rem;
        padding: 1rem;
        width: 20rem;
        border-radius: 4rem;
    }

    #socials-container i {
        font-size: 50px;
    }

    .section__text__pl {
        text-align: center;
        margin-left: -120px;
        width: 200px;
        margin-bottom: 50px;
        font-size: 25px;
        line-break: anywhere;
    }

    .title_about {
        font-size: 50px;
    }

    
    .services {
        margin-top: 50px;
    }

    .sub-title {
        opacity: 1;
    }

    .services-list h2 {
        font-size: 30px;
    }

    .services-list p {
        font-size: 25px;
    }

    .content-col p{
        display: flex;
        text-align: center;
        width: 100%;
        align-items: center;
        font-size: 30px;
    }    
}

@media (min-width: 600px) and (max-width: 1280px) {
    .services {
        margin-top: 700px;
    }

    .footer {
        width: 100%;
        height: 100%;
        padding: 0px 30px;
        margin: 0px;
        background: #7e7e7e46;
        text-align: center;
        padding-bottom: 10px;
        margin-top: 10%;
    } 


}



@media(orientation: landscape) {
    .services {
        margin-top: 400px;
    }

    .footer {
        width: 100%;
        height: 100%;
        padding: 0px 30px;
        margin: 0px;
        background: #7e7e7e46;
        text-align: center;
        padding-bottom: 10px;
        margin-top: 5%;
    } 

    .content-col p {
        font-size: 20px;
    }

    .services-list h2 {
        font-size: 20px;
    }

    .services-list p {
        font-size: 15px;
    }

    .container .title_second_alow {
        margin-bottom: 5%;
    }

    .title_second_alow {
        text-align: center;
        justify-content: center;
    }

    .title_second {
        text-align: center;
        justify-content: center;
    }

    .logo {
        font-size: 25px;
    }

    .title {
        font-size: 50px;
    }

    .section__text__pi {
        font-size: 20px;
    }

    .section__text__p2 {
        font-size: 20px;
    }

    .btn-buttom {
        font-size: 20px;
        height: 4rem;
        padding: 1rem;
        width: 15rem;
        border-radius: 4rem;
    }

    #socials-container i {
        font-size: 40px;
    }

    .social-media h1 {
        margin-bottom: 30px;
    }

    .btn-buttom_over {
        font-size: 18px;
    }

    
}
